<div class="margin-block">
  <h2 class="txt-align-center flex-inline center txt-uppercase txt-medium margin-none">
    Recently closed
  </h2>

  <section class="cards cards--closed">
    <% if cards.any? %>
      <%= render partial: "cards/display/preview", collection: cards, as: :card, cached: true %>
    <% else %>
      <p class="txt-medium translucent">Nothing here</p>
    <% end %>
  </section>
</div>
