<div class="card__people flex gap">
  <div class="flex flex-column align-center">
    <span class="card__people-label txt-uppercase">Reported</span>
    <%= avatar_tag card.creator, class: "avatar" %>
  </div>

  <div class="card__assignees flex flex-column align-center">
    <span class="card__people-label txt-uppercase">Assigned</span>

    <%= yield %>
  </div>
</div>
